<h2>Lobby</h2>
<p>
    You are playing as <%= @player_profile.name %> (id: <%=  @player_profile.id %>)
    <br>
    Game id: <%= @game_id %>
</p>

<h3>Settings</h3>

<.form let={f} for={:lobby_options} phx-change="validate">
  <%= for option <- @lobby_options do %>
    <.option form={f} option={option} />
  <% end %>
</.form>

<h3>Input testing stuff</h3>

<%= live_redirect "Home", to: Routes.main_path(@socket, :index) %>
