<p>You are playing as <%= @player_profile.name %> (id: <%=  @player_profile.id %>)</p>
<p>Game id: <%= @game_id %></p>

<.form let={f} for={:test_inputs} phx-submit="player_input">
    <%= label f, :text %>
    <%= text_input f, :text %>

    <%= label f, :select %>
    <%= select f, :select, 1..10 %>

    <%= submit "Send" %>
</.form>

<a href="/">Home</a>
